# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.env.*
.cache
.idea/
.vscode/

# Sensitive files
env_data
*_keys
*_secrets
credentials.*
config.ini

# Data
/data/*
!data/.gitkeep

# Notebooks
*.ipynb_checkpoints
